* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Title {
	font-size: 175%;
	margin-bottom: 50px;
	text-align: center;
}

.Subject {
	position: absolute;
	font-size: 125%;
	top: 0px;
	right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	border: 1px solid black;
	width: 55px;
	text-align: center;
}

.wrapper {
	border: 0px;
	width: 100%;
	padding-bottom: 20px;
}

div{
	background-color: lightgrey;
}

#a {
	background-color: indianred;
}

#b {
	background-color: lightskyblue;
}

#c {
	background-color: lightgoldenrodyellow;
}
/* large devices */
@media (min-width: 992px) {

div{
	border: 1px solid black;
	margin-bottom: 20px;
	padding-left: 5px;
	width: 32.2%;
	float: left;
	padding-top: 0px;
	position: relative;
}

#div1 {
	margin-left: 10px;
	margin-right: 0.5%;
}
#div2 {
	margin-right: 0.5%;
}

#div3 {
	margin-right: 0.5%;
}
}
/* medium devices */
@media (min-width: 768px) and (max-width: 991px) {

div{
	border: 1px solid black;
	margin-bottom: 20px;
	padding-left: 5px;
	width: 47%;
	float: left;
	clear: right;
	position: relative;

}
#div3 {
	margin-left: 10px;
	margin-right: 10px;
	width: 97%;
}
#div1 {
	margin-left: 10px;
	margin-right: 10px;
}
#div2 {
	margin-left: 10px;
	margin-right: 10px;
}
}

/*small devices */
@media (min-width: 0px) and (max-width:  767px){
div{
	border: 1px solid black;
	margin-bottom: 20px;
	padding-left: 5px;
	position: relative;
}
}